NODE_ENV=development
PORT=3001

# Supabase
SUPABASE_URL=https://zmssmbvvfpegpolplfjm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_QKdq7pWrWt-MHMqVwNN2-w_bH7ONlgc
SUPABASE_JWT_SECRET=b6ec725e-83b9-40cc-aef5-c5ee6d292d6b

# CORS
FRONTEND_URL=http://localhost:3000
